/* =============================================================
Button Styles
============================================================= */
.button {
    --gutter-xxs:0.7rem;
    --gutter-s:1.5rem;
    --button-color:var(--secondary-200);
    --button-text-color:var(--black);
    --button-outline-color:var(--button-color);
    --font-size:1rem;
    display:inline-flex;
    align-items:center;
    justify-content:center;
    gap:var(--gutter-xs);
    padding:var(--gutter-xxs) var(--gutter-s);
    border: none;
    background: var(--button-color);
    color: var(--button-text-color);
    text-decoration: none;
    border-radius:var(--radius-s);
    font-size:var(--font-size);
}

.button:hover, 
.button:focus {
    --button-color:var(--secondary-100);
}

.button svg  {
    display:block;
    height:var(--font-size);
    width:var(--font-size);
}

.has-outline {
    outline-color: var(--button-outline-color);
    outline-style: solid;
    outline-width: 1px; /* You can adjust the width as needed */
    outline-offset: -1px;
}

.has-outline:hover, .has-outline:focus {
    --button-outline-color:var(--button-text-color);
}

/* =============================================================
Button Colours 
============================================================= */
.button__orange {
    --button-color:#eab463;
    --button-text-color:var(--black);
}

.button__orange:hover, .button__orange:focus {
    --button-color:var(--black);
    --button-text-color:#eab463;
}

.button__green {
    --button-color:#99ea63;
    --button-text-color:var(--black);
}

.button__green:hover, .button__green:focus {
    --button-color:#248631;
    --button-text-color:#ffffff;
}