/* =============================================================
Layout

- Containers
    - Grid Container
    - Full Width
    - Max Width Content
    - Standard Content
    - Indented Content
    - Thin Content
    - Extra Thin Content
- Grids

============================================================= */

/* ===================
Containers
=================== */


.container {
    --container-gutter:2rem;
    margin-inline:auto;
}

.container__full-width {
    width:100%;
}

.container__max-width {
    max-width:var(--max-width);
    width:calc(100% - var(--container-gutter) * 2);
}

.container__indent {
    max-width:calc(var(--max-width) - var(--container-gutter) * 2 );
    width:calc(100% - var(--container-gutter) * 2);
}

.container__thin {
    max-width:calc(var(--max-width) - var(--container-gutter) * 4 );
    width:calc(100% - var(--container-gutter) * 2);
}

.container__extrathin {
    max-width:calc(var(--max-width) - var(--container-gutter) * 8 );
    width:calc(100% - var(--container-gutter) * 2);
}

.no-gap {
    margin-bottom:0;
    margin-top:0;
}


@media only screen and (max-width: 769px) {
    .container {
        --container-gutter:1rem;
    }
}

/* ===================
Grids
=================== */
.grid {
    display: grid;
    gap:var(--gutter-s);
}

.grid-2-col {
    grid-template-columns:repeat(2, 1fr);
}

.grid-3-col {
    grid-template-columns:repeat(3, 1fr);
}

.grid-4-col {
    grid-template-columns:repeat(4, 1fr);
}

/* Add more if required */

@media only screen and (max-width: 1171px) {
    .grid-3-col,
    .grid-4-col {
        grid-template-columns:repeat(2, 1fr);
    }

    .grid-3-col > :last-child {
        grid-column:1 / 3;
    }
}

@media only screen and (max-width: 769px) {
    .grid-2-col,
    .grid-3-col,
    .grid-4-col {
        grid-template-columns:1fr;
    }

    .grid-3-col > :last-child {
        grid-column:1 / 2;
    }
}

