/* =============================================================
Headings / Other 
============================================================= */
html {
    font-size:16px;	
	scroll-behavior: smooth;
}

body {
    --font-size:1rem;
    --line-height:calc(var(--font-size) + 0.5rem);
    font-size: var(--font-size);
    line-height:var(--line-height);
    font-family:var(--font-family-primary);
    color:var(--grey-100);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
    font-size: var(--font-size);
    font-weight:var(--fw-regular);
    margin-bottom:var(--gutter-xs);
    line-height:var(--line-height);
    --line-height:calc(var(--font-size) + 0.5rem);
}

.h0 {
    --font-size:4.5rem;  
}

h1,
.h1 {
    --font-size:4rem;
}

h2,
.h2 {
    --font-size:3.5rem;
}

h3,
.h3 {
    --font-size:3rem;
}

h4,
.h4 {
    --font-size:2.5rem;
}

h5,
.h5 {
    --font-size:2rem;
}

h6,
.h6 {
    --font-size:1.5rem;
}

p,
.p {
    --font-size:1rem;
    --line-height:calc(var(--font-size) + 0.8rem);
    font-weight:var(--fw-regular);
	margin-bottom: var(--gutter-xs);
}

p:first-of-type{
    margin-top: 0;
}

p:last-of-type{
    margin-bottom: 0;
	margin-top: 0;
}

p:only-of-type {
	margin-bottom:var(--gutter-xs);
}

a:not([class]) {
  color:var(--primary-100);
  text-underline-offset:4px;
}

a:not([class]):hover {
    opacity:0.7;
  }

/* ===================
Tablet Styles
=================== */
@media only screen and (max-width: 1041px) {
    .h0 {
        font-size: /* H0 Font Size - Tablet */;
    }
    
    h1,
    .h1 {
        font-size: /* H1 Font Size - Tablet */;
    }
    
    h2,
    .h2 {
        font-size: /* H2 Font Size - Tablet */;  
    }
    
    h3,
    .h3 {
        font-size: /* H3 Font Size - Tablet */;
    }
    
    h4,
    .h4 {
        font-size: /* H4 Font Size - Tablet */;  
    }
    
    h5,
    .h5 {
        font-size: /* H5 Font Size - Tablet */;
    }
    
    h6,
    .h6 {
        font-size: /* H6 Font Size - Tablet */;  
    }
    
    p,
    .p {
        font-size: /* P Font Size - Tablet */;
        margin-bottom: var(--gutter-xs);
    }
}

/* ===================
Mobile Styles
=================== */
@media only screen and (max-width: 769px) {
    .h0 {
        font-size: /* H0 Font Size */;
    }
    
    h1,
    .h1 {
        font-size: /* H1 Font Size - Mobile */;
    }
    
    h2,
    .h2 {
        font-size: /* H2 Font Size - Mobile */;  
    }
    
    h3,
    .h3 {
        font-size: /* H3 Font Size - Mobile */;
    }
    
    h4,
    .h4 {
        font-size: /* H4 Font Size - Mobile */;  
    }
    
    h5,
    .h5 {
        font-size: /* H5 Font Size - Mobile */;
    }
    
    h6,
    .h6 {
        font-size: /* H6 Font Size - Mobile */;  
    }
    
    p,
    .p {
        font-size: /* P Font Size - Mobile */;
    }
}