/* =============================================================
Utility Classes

- Gutters / Spacing ~ Padding / Margin
    - Padding Block
    - Padding Inline
    - Margin Block
    - Margin Inline
- Colors
    - Text Colors
    - Background Colors
- Font Families
- Font Styles
- Misc / Other
    - Overlays
- Container Utilities
    - Images
    - Videos

============================================================= */
/* ===================
Gutters / Spacing ~ Padding / Margin
=================== */
/* Margin Block Start */
.mbs-100 { margin-block-start: var(--gutter-100); }
.mbs-200 { margin-block-start: var(--gutter-200); }
.mbs-300 { margin-block-start: var(--gutter-300); }
.mbs-400 { margin-block-start: var(--gutter-400); }
.mbs-500 { margin-block-start: var(--gutter-500); }
.mbs-600 { margin-block-start: var(--gutter-600); }
.mbs-700 { margin-block-start: var(--gutter-700); }
.mbs-800 { margin-block-start: var(--gutter-800); }
.mbs-900 { margin-block-start: var(--gutter-900); }

/* Margin Block End */
.mbe-100 { margin-block-end: var(--gutter-100); }
.mbe-200 { margin-block-end: var(--gutter-200); }
.mbe-300 { margin-block-end: var(--gutter-300); }
.mbe-400 { margin-block-end: var(--gutter-400); }
.mbe-500 { margin-block-end: var(--gutter-500); }
.mbe-600 { margin-block-end: var(--gutter-600); }
.mbe-700 { margin-block-end: var(--gutter-700); }
.mbe-800 { margin-block-end: var(--gutter-800); }
.mbe-900 { margin-block-end: var(--gutter-900); }

/* Margin Block */
.mb-100 { margin-block: var(--gutter-100); }
.mb-200 { margin-block: var(--gutter-200); }
.mb-300 { margin-block: var(--gutter-300); }
.mb-400 { margin-block: var(--gutter-400); }
.mb-500 { margin-block: var(--gutter-500); }
.mb-600 { margin-block: var(--gutter-600); }
.mb-700 { margin-block: var(--gutter-700); }
.mb-800 { margin-block: var(--gutter-800); }
.mb-900 { margin-block: var(--gutter-900); }

/* Margin Inline */
.mi-100 { margin-inline: var(--gutter-100); }
.mi-200 { margin-inline: var(--gutter-200); }
.mi-300 { margin-inline: var(--gutter-300); }
.mi-400 { margin-inline: var(--gutter-400); }
.mi-500 { margin-inline: var(--gutter-500); }
.mi-600 { margin-inline: var(--gutter-600); }
.mi-700 { margin-inline: var(--gutter-700); }
.mi-800 { margin-inline: var(--gutter-800); }
.mi-900 { margin-inline: var(--gutter-900); }

/* Margin (all sides) */
.m-100 { margin: var(--gutter-100); }
.m-200 { margin: var(--gutter-200); }
.m-300 { margin: var(--gutter-300); }
.m-400 { margin: var(--gutter-400); }
.m-500 { margin: var(--gutter-500); }
.m-600 { margin: var(--gutter-600); }
.m-700 { margin: var(--gutter-700); }
.m-800 { margin: var(--gutter-800); }
.m-900 { margin: var(--gutter-900); }

/* Padding Block Start */
.pbs-100 { padding-block-start: var(--gutter-100); }
.pbs-200 { padding-block-start: var(--gutter-200); }
.pbs-300 { padding-block-start: var(--gutter-300); }
.pbs-400 { padding-block-start: var(--gutter-400); }
.pbs-500 { padding-block-start: var(--gutter-500); }
.pbs-600 { padding-block-start: var(--gutter-600); }
.pbs-700 { padding-block-start: var(--gutter-700); }
.pbs-800 { padding-block-start: var(--gutter-800); }
.pbs-900 { padding-block-start: var(--gutter-900); }

/* Padding Block End */
.pbe-100 { padding-block-end: var(--gutter-100); }
.pbe-200 { padding-block-end: var(--gutter-200); }
.pbe-300 { padding-block-end: var(--gutter-300); }
.pbe-400 { padding-block-end: var(--gutter-400); }
.pbe-500 { padding-block-end: var(--gutter-500); }
.pbe-600 { padding-block-end: var(--gutter-600); }
.pbe-700 { padding-block-end: var(--gutter-700); }
.pbe-800 { padding-block-end: var(--gutter-800); }
.pbe-900 { padding-block-end: var(--gutter-900); }

/* Padding Block */
.pb-100 { padding-block: var(--gutter-100); }
.pb-200 { padding-block: var(--gutter-200); }
.pb-300 { padding-block: var(--gutter-300); }
.pb-400 { padding-block: var(--gutter-400); }
.pb-500 { padding-block: var(--gutter-500); }
.pb-600 { padding-block: var(--gutter-600); }
.pb-700 { padding-block: var(--gutter-700); }
.pb-800 { padding-block: var(--gutter-800); }
.pb-900 { padding-block: var(--gutter-900); }

/* Padding Inline */
.pi-100 { padding-inline: var(--gutter-100); }
.pi-200 { padding-inline: var(--gutter-200); }
.pi-300 { padding-inline: var(--gutter-300); }
.pi-400 { padding-inline: var(--gutter-400); }
.pi-500 { padding-inline: var(--gutter-500); }
.pi-600 { padding-inline: var(--gutter-600); }
.pi-700 { padding-inline: var(--gutter-700); }
.pi-800 { padding-inline: var(--gutter-800); }
.pi-900 { padding-inline: var(--gutter-900); }

/* Padding (all sides) */
.p-100 { padding: var(--gutter-100); }
.p-200 { padding: var(--gutter-200); }
.p-300 { padding: var(--gutter-300); }
.p-400 { padding: var(--gutter-400); }
.p-500 { padding: var(--gutter-500); }
.p-600 { padding: var(--gutter-600); }
.p-700 { padding: var(--gutter-700); }
.p-800 { padding: var(--gutter-800); }
.p-900 { padding: var(--gutter-900); }


/* ===================
Border Radius
=================== */
.radius-100 { border-radius: var(--radius-100); }
.radius-200 { border-radius: var(--radius-200); }
.radius-300 { border-radius: var(--radius-300); }
.radius-400 { border-radius: var(--radius-400); }
.radius-500 { border-radius: var(--radius-500); }
.radius-600 { border-radius: var(--radius-600); }
.radius-700 { border-radius: var(--radius-700); }
.radius-800 { border-radius: var(--radius-800); }
.radius-900 { border-radius: var(--radius-900); }

/* ===================
Colors
=================== */
/* ---------
Primary Colors
--------- */

/* Add here */

/* ---------
Shades
--------- */
/* Background Color */
.bg-black { background-color: var(--black); }
.bg-white { background-color: var(--white); }

.bg-grey-100 { background-color: var(--grey-100); }
.bg-grey-200 { background-color: var(--grey-200); }
.bg-grey-300 { background-color: var(--grey-300); }
.bg-grey-400 { background-color: var(--grey-400); }
.bg-grey-500 { background-color: var(--grey-500); }
.bg-grey-600 { background-color: var(--grey-600); }
.bg-grey-700 { background-color: var(--grey-700); }
.bg-grey-800 { background-color: var(--grey-800); }
.bg-grey-900 { background-color: var(--grey-900); }

/* Text Color */
.text-black { background-color: var(--black); }
.text-white { background-color: var(--white); }

.text-grey-100 { color: var(--grey-100); }
.text-grey-200 { color: var(--grey-200); }
.text-grey-300 { color: var(--grey-300); }
.text-grey-400 { color: var(--grey-400); }
.text-grey-500 { color: var(--grey-500); }
.text-grey-600 { color: var(--grey-600); }
.text-grey-700 { color: var(--grey-700); }
.text-grey-800 { color: var(--grey-800); }
.text-grey-900 { color: var(--grey-900); }

/* Add other color utilities as needed */

/* ===================
Typography
=================== */




.text-center { text-align:center; }

/* ===================
Misc / Other
=================== */
/* Overflows */
.overflow-hidden {
    overflow:hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.no-scrollbars {
    -ms-overflow-style: none;
    scrollbar-width: none; 
    overflow-y: scroll;
}

.no-scrollbars::-webkit-scrollbar  {
    display: none;
}

/* Overlays */
.overlay__default {
    border-image:fill 1 linear-gradient(0deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.6) 100%);
}

.overlay__radial {
    border-image:fill 1 radial-gradient(circle, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.6) 100%);
}

.overlay__linear {
    border-image:fill 1 linear-gradient(0deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.2) 100%);
}

/* Selection */
::-moz-selection {
    color: #eab463;
    background: var(--black);
}

::selection  { /* Code for Firefox */
    color: #eab463;
    background: var(--black);
}

/* ===================
Container Utilities
=================== */
/* Images */
.img-holder-square {
    width:100%;
    aspect-ratio:1 / 1;
}

.img-holder-golden {
    width:100%;
    aspect-ratio:16 / 9;
}

.img-holder {
    display:block;
}

.img-holder img {
    width:100%;
    height:100%;
    object-fit:cover;
    display:block;
}

/* Videos ~ Youtube / Vimeo Embeds */
.video-holder {
    position: relative;
    aspect-ratio:16 / 9;
}

.video-holder iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.play-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 2;
}

.play-video::before {
    content: '▶';
    font-size: 4rem;
    color: var(--white);
}

