/* =============================================================
Root Variables

- Default
	- Colors
	- Greys
	- Notifications
	- Gradient Colors
	- font Styles
	- Gutters
	- Radius
	- Other
- Dark Mode
============================================================= */
:root {
    /* --- Colors --- */
    --primary-100: /* Primary Color 100 */;
	--primary-200: /* Primary Color 200 */;
	--primary-300: /* Primary Color 300 */;

    --secondary-100: hsl(0, 0%, 93%);
	--secondary-200: hsl(0, 0%, 80%);
    --secondary-300: /* Secondary Color 300 */;
    --secondary-400: /* Secondary Color 400 */;

	--black: hsl(0, 0%, 0%)/* Black */;
	--white: hsl(0, 0%, 100%)/* White */;

	/* Greys */
	--grey-100: hsl(0, 0%, 13%);
	--grey-200: hsl(0, 0%, 27%);
	--grey-300: hsl(0, 0%, 40%);
	--grey-400: hsl(0, 0%, 53%);
	--grey-500: hsl(0, 0%, 67%);
	--grey-600: hsl(0, 0%, 73%);
	--grey-700: hsl(0, 0%, 80%);
	--grey-800: hsl(0, 0%, 87%);
	--grey-900: hsl(0, 0%, 93%);

	/* Notifications */
	--ntf-100:hsl(143, 79%, 87%);
	--ntf-200:hsl(179, 100%, 24%);
	--ntf-300:hsl(219, 65%, 33%);
	--ntf-400:hsl(42, 100%, 64%);
	--ntf-500:hsl(16, 72%, 51%);
	--ntf-600:hsl(352, 69%, 49%);

	/* Gradient Colors */
	--gradient-a: /* Gradient a */;
    --gradient-b: /* Gradient b */;
	
    /* --- Font Styles --- */
    --font-family-primary: 'Courier New', Courier, monospace /* Font Family Primary */;
	--font-family-secondary:/* Font Family Secondary */;
    --font-family-third: /* Font Family Third */;

	--fw-light: 300;
    --fw-regular: 400;
    --fw-bold: 700;

    /* --- Gutters ---*/
	--gutter-xxs: .5rem;
	--gutter-xs: 1rem;
    --gutter-s: 2rem;
    --gutter-m: 3rem;
    --gutter-l: 4rem;
	--gutter-xl:5rem;
	--gutter-xxl:8rem;

	/* --- Radius ---*/
	--radius-xs:0.325rem;
	--radius-s:0.5rem;
	--radius-m:1.5rem;
	--radius-l:2rem;
	--radius-xl:4rem;
	--radius-xxl:8rem;

	--section-gutter:8rem;

	/* Other */
	--box-shadow: /* Box Shadow */;
	--max-width: 90rem; /* Change to desired content width  */


}

@media only screen and (max-width: 1041px) {
	:root {
		/* --- Gutters ---*/
		--gutter-xxl:4rem;
        --gutter-xl:2.5rem;
		--gutter-l:2rem;
		--gutter-m: 2rem;

		--section-gutter:4rem;
}
}

@media only screen and (max-width: 769px) {
	:root {
		/* --- Gutters ---*/
		--gutter-xxl:4rem;
        --gutter-xl:2.5rem;
		--gutter-l:2rem;
		--gutter-m: 2rem;
}
}

/* =============================================================
Dark Mode
============================================================= */
@media (prefers-color-scheme: dark) {
	:root {
		/* --- Colors --- */
		--primary-100: /* Primary Color 100 */;
		--primary-200: /* Primary Color 200 */;
		--primary-300: /* Primary Color 300 */;

		--secondary-100: hsl(0, 0%, 93%);
		--secondary-200: hsl(0, 0%, 80%);
		--secondary-300: /* Secondary Color 300 */;
		--secondary-400: /* Secondary Color 400 */;

		--black: hsl(0, 0%, 0%)/* Black */;
		--white: hsl(0, 0%, 100%)/* White */;

		/* Greys */
		--grey-100: hsl(0, 0%, 13%);
		--grey-200: hsl(0, 0%, 27%);
		--grey-300: hsl(0, 0%, 40%);
		--grey-400: hsl(0, 0%, 53%);
		--grey-500: hsl(0, 0%, 67%);
		--grey-600: hsl(0, 0%, 73%);
		--grey-700: hsl(0, 0%, 80%);
		--grey-800: hsl(0, 0%, 87%);
		--grey-900: hsl(0, 0%, 93%);

		/* Notifications */
		--ntf-100:hsl(143, 79%, 87%);
		--ntf-200:hsl(179, 100%, 24%);
		--ntf-300:hsl(219, 65%, 33%);
		--ntf-400:hsl(42, 100%, 64%);
		--ntf-500:hsl(16, 72%, 51%);
		--ntf-600:hsl(352, 69%, 49%);
	}
}